version: '2'
services:
  web:
      container_name: village.web
      image: village-web.image
      build:
        context: .
        dockerfile: ./services/docker/web/Dockerfile
        args:
          DEV_MODE: 0
          HOST_IP: db
          WEB_INIT_ANSWERS: "0 yes Yes Yes"
          WEB_APP_DIR: "/app"
          GIT_CREDENTIALS: "deployer:r8gl9XY4oMCX"
      volumes:
          - .:/app
      ports:
          - "80:8000"
      links:
          - db
  pma:
      container_name: phpmyadmin
      image: phpmyadmin/phpmyadmin
      links:
          - db
      ports:
          - "8080:80"
      environment:
          MYSQL_USER: root
  db:
      container_name: village.db
      image: mysql
      ports:
          - "3306:3306"
      volumes:
          - mydata:/var/lib/mysql
      environment:
          MYSQL_USER: root
          MYSQL_DATABASE: village
          MYSQL_ALLOW_EMPTY_PASSWORD: "true"
volumes:
  mydata: {}
