DEV_MODE=false
GIT_CREDENTIALS="deployer:r8gl9XY4oMCX"

MYSQL_CONTAINER=village.db
MYSQL_VOLUME=mydata
MYSQL_USER=root
MYSQL_PORT=3306
MYSQL_DB=village
MYSQL_ALLOW_EMPTY_PASSWORD=false
MYSQL_DB_PASS=password

WEB_CONTAINER=village.web
WEB_PORT=80
WEB_IMAGE=village-web.image
WEB_XDEBUG_PORT=9000
WEB_SRC="P:\xampp\htdocs\village\village-app-backend"
WEB_HOSTNAME=admin.village
WEB_INIT_ANSWERS="0 yes Yes Yes"
#WEB_APP_DIR=/app

PMA_CONTAINER=phpmyadmin
PMA_PORT=8080

HOST_IP=10.0.75.1

SSHD_IMAGE=village.os
SSHD_CONTAINER=village.ssh
SSH_PORT=22
SSH_USERS=admin@password,roman@123,ivan@321
# LogLevel: [INFO, DEBUG]
SSHD_LOG_LEVEL=DEBUG
SSHD_PUBLIC_KEYS_DIR=/service-manager/services/host/sshd/public-keys
SSHD_CONFIG_EXAMPLE=/service-manager/services/host/sshd/sshd_config
SSH_USERS_GROUP=ssh-users
#SSHD_ROOT_PASSWORD=password

SSHD_PERMIT_ROOT_LOGIN=yes
SSHD_PASS_AUTH=yes

SERVICE_MANAGER_DIR=/service-manager

FAIL2BAN_CONTAINER=village.fail2ban
FAIL2BAN_IMAGE=superitman/fail2ban:latest
